<div class="spread">
  <div class="page left_page">
    <div class="header">
      <h1> 
        <span class="title">Small Fish</span> 
        <span class="by">by</span>
        <span class="author">Lawrence James</span>
      </h1>
    </div> 
    <div class="content">
      <em>December 15th 1988.  London, England.</em>

      <p>Maurice Vigor knew he was dying.</p>
    
      <p>Night was closing in.  Shop lights on the damp pavement mingled with the yellow glow of the street lamps; a thin cold fog ghosted the pinched faces of the few Tuesday shoppers.
       </p> 
       <p>A bus crawled by half empty.  Impatient drivers tapped their fingers,  waiting for the lights to change.   Trucks hissed their airbrakes in frustration.
       </p>  
       The sounds and the shadows came to Maurice as he sat in the front room above the shop.  
       Suddenly cold, he leaned forward and lit the gas fire.  The Orange Cat left his lap for the greater heat the fire gave and lay belly towards the flames.
       </p> 
      <p>
  A jangled thump tumbled up the stairs pursued by the snick of bolts.  Maurice opened his eyes, waiting.  Jenny had locked the shop door.  Would she come up?  The side door clicked quietly shut.  Pity.  He would have liked a cup of tea.</p>
       <p>Perhaps she had shopping to do.  She usually went to Sainsbury's on Thursdays.  Perhaps she had a date, needed something special in for a repas a deux.  For a moment the thought of food made him hungry,  but it passed.</p>  
       <p>He didn't bother with the news.  What was it to him?  Violence, poverty, the constant betrayal of the governed abroad and at home.  Then, the jovial trivia that made it all alright.</p>
       <p>The side door opened and shut.</p>  
       <p>She was back.  Something forgotten?</p>
       <p>The tread up the stairs was heavy.</p>
       <p>Mechanically, the clock measured minutes.  Ten past eight. </p>  
       <p>The door to the kitchen opened. </p>
     
    </div>
  </div>  

  <div class="page right_page"> 
  <div class="header">
    <ul>Page 2 of 225 [pagination]</ul>
  </div>
  <div class="content">
     <p>"Do you want a cup of tea, Maurice?"</p>
     <p>"That would be most welcome, Jack," Maurice turned his head to make his voice carry. </p>
     <p>The lid of the kettle clattered on the draining board, cups chinked.</p>
     <p>"Well, what did they say?"</p>
     <p>"I'll live," lied Maurice.</p>
     <p>"No problems?"</p>
     <p>"Hospital car, there and back."</p> 
     <p>"Any pain?"</p>
     <p>"Not much; more pills though."  Maurice looked up at their serried ranks on the mantle piece.  Enough to make me rattle, he thought, and none of them any bloody good.</p>
     <p>Jack came in, handed Maurice a hot cup, dumped himself down in the chair opposite, and searched his friend's face for truth.</p>
     <p>"How long?" he said after a moment.</p>
     <p>"Years," said Maurice.</p>
     <p>"I've known you too long for this. Tell me."  Jack took Maurice's free hand in his own.  "How long?"
     "Six months, if I'm lucky."   I've seen my last summer' Maurice thought, as he knelled the words. </p>
     <p>"Have you eaten?"</p>
     <p>Maurice shook his head.</p>
     <p>Hungry?"</p>
     <p>"Picky," said Maurice, "a bit."</p>
     <p>"Cheese and biscuits?"  Jack's wife had died of cancer.</p>
     <p>Maurice nodded, "In a minute."</p>
     <p>Silence enfolded them.</p> 
     <p>"Jenny been up?"</p>
     <p>"This morning, to have some cheques signed."</p>
     <p>"She's a good lass; you're lucky there."</p>
     <p>"Jack."</p>
     <p>"Yes."</p>
     <p>"Will you take some things to the bank for me?"</p>
     <p>"Of course, anything I can do."</p> 
  </div>
</div> 
</div> 
<div class="tools">
  
</div>